<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="author" content="Wilson Lin">
    <meta name="description" content="{{description}}">

    <title>Work @ Microsoft</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00a6f0">
    <meta name="apple-mobile-web-app-title" content="Work @ Microsoft">
    <meta name="application-name" content="Work @ Microsoft">
    <meta name="msapplication-TileColor" content="#fafafa">
    <meta name="theme-color" content="#fafafa">

    {{{analytics}}}
  </head>

  <body>
    <!-- Don't put in #jobs as otherwise .job deletion will remove template content
         in browsers that don't support templates -->
    <template id="template-job">
      <article class="job">
        <div class="job-left">
          <div class="job-head">
            <h1 class="job-title"><a class="job-title-link" rel=noopener target="_blank"></a></h1>
            <h2 class="job-location"></h2>
          </div>
          <p class="job-description"></p>
        </div>
        <div class="job-right">
          <time class="job-date"></time>
        </div>
      </article>
    </template>

    <template id="template-search-term">
      <li class="search-term">
        <select class="search-term-mode">
          <option value="1" selected>Must contain</option>
          <option value="2">Has any of</option>
          <option value="3">Does not have</option>
        </select>
        <div class="search-term-words autocomplete">
          <input class="ipt-text autocomplete-input">
          <ul class="autocomplete-list"></ul>
        </div>
        <button type="button" class="search-term-button" value="delete"><i class="ms-Icon ms-Icon--Delete"></i>
        </button>
      </li>
    </template>

    <template id="template-autocomplete-entry">
      <li class="autocomplete-entry"></li>
    </template>

    <header id="header">
      <a rel=noopener href="https://microsoft.com" target="_blank" id="header-logo" style="opacity: 0">
        <span id="ms-logo-nw"></span>
        <span id="ms-logo-ne"></span>
        <span id="ms-logo-sw"></span>
        <span id="ms-logo-se"></span>
      </a>

      <h1 id="header-text-container" class="ms-fontColor-neutralLight">
        <!-- Need container so text can be inline and width animation to 100% goes to end of text not screen -->
        <span id="header-text" style="width: 0">{{jobsCount}} careers</span>
      </h1>

      <div class="flex-spacer"></div>

      <ul id="header-brands" class="header-brands-init">
        <li><a class="ms-Icon ms-Icon--AzureLogo" rel=noopener target="_blank" href="https://azure.com"
               aria-hidden="true"></a></li>
        <li><a class="ms-Icon ms-Icon--BingLogo" rel=noopener target="_blank" href="https://bing.com"
               aria-hidden="true"></a></li>
        <li><a class="ms-Icon ms-Icon--MSNLogo" rel=noopener target="_blank" href="https://msn.com"
               aria-hidden="true"></a></li>
        <li><a class="ms-Icon ms-Icon--OfficeLogo" rel=noopener target="_blank" href="https://office.com"
               aria-hidden="true"></a>
        </li>
        <li><a class="ms-Icon ms-Icon--OneDriveLogo" rel=noopener target="_blank" href="https://onedrive.com"
               aria-hidden="true"></a>
        </li>
        <li><a class="ms-Icon ms-Icon--SkypeLogo" rel=noopener target="_blank" href="https://skype.com"
               aria-hidden="true"></a></li>
        <li><a class="ms-Icon ms-Icon--StoreLogo16" rel=noopener target="_blank" href="https://store.microsoft.com"
               aria-hidden="true"></a>
        </li>
        <li><a class="ms-Icon ms-Icon--WindowsLogo" rel=noopener target="_blank" href="https://windows.com"
               aria-hidden="true"></a>
        </li>
      </ul>
    </header>

    <div id="content">
      <main id="jobs">
        <div class="section-heading-container">
          <h1 id="jobs-heading" class="section-heading"></h1>
          <button id="pane-toggle-button" class="btn">Filter</button>
        </div>
      </main>

      <aside id="pane">
        <form id="filter-form" method="get" autocomplete="off">
          <div class="section-heading-container">
            <h1 class="section-heading">Filter</h1>
            <button id="filter-form-submit" class="btn btn-teal">Search</button>
          </div>

          {{#each fields}}
            <div class="search-category">
              <div class="search-category-head">
                <h3>Filter by {{this}}</h3>

                <div>
                  <button type="button" data-field="{{this}}" class="search-category-button" value="add"><i
                    class="ms-Icon ms-Icon--Add"></i></button>
                </div>
              </div>

              <ul class="search-terms" data-field="{{this}}"></ul>
            </div>
          {{/each}}
        </form>

        <div id="share">
          <div class="section-heading-container">
            <h1 class="section-heading">Share</h1>
          </div>

          <p id="share-message">
            Want to save or share your search? It's all in the URL:
          </p>

          <input id="share-URL" readonly>

          <ul id="share-options">
            <li><a rel=noopener data-service="LinkedIn" target="_blank">LinkedIn</a></li>
            <li><a rel=noopener data-service="Facebook" target="_blank">Facebook</a></li>
            <li><a rel=noopener data-service="Twitter" target="_blank">Twitter</a></li>
            <li><a rel=noopener data-service="Email" target="_blank">Email</a></li>
            <li>
              <button id="share-copy-button" data-clipboard-target="#share-URL">Copy</button>
            </li>
          </ul>
        </div>

        <p id="wilsonzlin">
          This project is an attempt to make a nice, fast, and advanced app for finding jobs at Microsoft.<br>
          <br>
          Like this project? Want to learn more?<br>
          <a rel="noopener" target="_blank" href="https://github.com/wilsonzlin/work-at-microsoft">
            Read the README and star it on GitHub.
          </a>
        </p>
      </aside>
    </div>

    <style>{{{style}}}</style>
    <script>
      window.msc_description = "{{description}}";
    </script>
    <script>{{{script}}}</script>
  </body>
</html>
