<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <title>Microsoft Careers</title>

    {{{analytics}}}
  </head>

  <body>
    <header id="header">
      <a href="https://microsoft.com" target="_blank" id="header-logo" style="opacity: 0">
        <span id="ms-logo-nw"></span>
        <span id="ms-logo-ne"></span>
        <span id="ms-logo-sw"></span>
        <span id="ms-logo-se"></span>
      </a>

      <h1 id="header-text" class="ms-fontColor-neutralLight">
        <span id="header-text-init" style="opacity: 0">{{jobsCount}} openings</span>
        <span id="header-text-name" style="width: 0">Careers</span>
      </h1>

      <div class="flex-spacer"></div>

      <ul id="header-brands" class="header-brands-init">
        <li><a class="ms-Icon ms-Icon--AzureLogo" target="_blank" href="https://azure.com" aria-hidden="true"></a></li>
        <li><a class="ms-Icon ms-Icon--BingLogo" target="_blank" href="https://bing.com" aria-hidden="true"></a></li>
        <li><a class="ms-Icon ms-Icon--MSNLogo" target="_blank" href="https://msn.com" aria-hidden="true"></a></li>
        <li><a class="ms-Icon ms-Icon--OfficeLogo" target="_blank" href="https://office.com" aria-hidden="true"></a>
        </li>
        <li><a class="ms-Icon ms-Icon--OneDriveLogo" target="_blank" href="https://onedrive.com" aria-hidden="true"></a>
        </li>
        <li><a class="ms-Icon ms-Icon--SkypeLogo" target="_blank" href="https://skype.com" aria-hidden="true"></a></li>
        <li><a class="ms-Icon ms-Icon--StoreLogo16" target="_blank" href="https://store.microsoft.com"
               aria-hidden="true"></a>
        </li>
        <li><a class="ms-Icon ms-Icon--WindowsLogo" target="_blank" href="https://windows.com" aria-hidden="true"></a>
        </li>
      </ul>
    </header>

    <template id="template-job">
      <article class="job">
        <div class="job-left">
          <div class="job-head">
            <h1 class="job-title"><a class="job-title-link" target="_blank"></a></h1>
            <h2 class="job-location"></h2>
          </div>
          <p class="job-description"></p>
        </div>
        <div class="job-right">
          <time class="job-date"></time>
        </div>
      </article>
    </template>

    <div id="content">
      <main id="jobs">
        <div class="section-heading-container">
          <h1 id="jobs-heading" class="section-heading"></h1>
          <button id="pane-toggle-button" class="btn">Filter</button>
        </div>
      </main>

      <aside id="pane">
        <form id="filter-form" method="get">
          <div class="section-heading-container">
            <h1 class="section-heading">Filter</h1>
            <button class="btn btn-teal">Search</button>
          </div>

          {{#each fields}}
            <div class="search-category">
              <div class="search-category-head">
                <h3>Filter by {{this}}</h3>

                <div>
                  <button type="button" data-field="{{this}}" class="search-category-button" value="add"><i
                    class="ms-Icon ms-Icon--Add"></i></button>
                </div>
              </div>

              <ul class="search-terms"></ul>
            </div>
          {{/each}}

          <template id="template-search-term">
            <li class="search-term">
              <select class="search-term-mode">
                <option value="require" selected>Must contain</option>
                <option value="contain">Has any of</option>
                <option value="exclude">Does not have</option>
              </select>
              <input class="ipt-text search-term-words" placeholder="Enter space-separated words">
              <button type="button" class="search-term-button" value="delete"><i class="ms-Icon ms-Icon--Delete"></i>
              </button>
            </li>
          </template>
        </form>

        <div id="share">
          <div class="section-heading-container">
            <h1 class="section-heading">Share</h1>
          </div>

          <p id="share-message">
            Want to save or share your search? It's all in the URL:
          </p>

          <input id="share-URL" readonly>

          <ul id="share-options">
            <li><a data-service="LinkedIn" target="_blank">LinkedIn</a></li>
            <li><a data-service="Facebook" target="_blank">Facebook</a></li>
            <li><a data-service="Twitter" target="_blank">Twitter</a></li>
            <li><a data-service="Email" target="_blank">Email</a></li>
            <li>
              <button id="share-copy-button" data-clipboard-target="#share-URL">Copy</button>
            </li>
          </ul>
        </div>
      </aside>
    </div>

    <style>{{{style}}}</style>
    <script>{{{script}}}</script>
  </body>
</html>
