<!DOCTYPE html>
<html class="ms-Fabric ms-bgColor-neutralLight" lang="en">
  <head>
    <meta charset="utf8">

    <title>{{resultsCount}} results | Microsoft Careers</title>

    <link rel="stylesheet" href="/static/fabric.min.css">
    <link rel="stylesheet" href="/static/fabric-icons-inline.css">
    <link rel="stylesheet" href="/static/style.css">

    <script defer src="/static/anime.min.js"></script>
    <script defer src="/static/Sortable.min.js"></script>
    <script defer src="/static/script.js"></script>
  </head>

  <body>
    <header id="header" class="ms-bgColor-neutralPrimary">
      <a href="https://microsoft.com" target="_blank" id="header-logo" style="opacity: 0"></a>

      <h1 id="header-text" class="ms-fontColor-neutralLight">
        <span id="header-text-date" style="opacity: 0">{{todayHumanDate}}</span>
        <span id="header-text-name" style="width: 0">Careers</span>
      </h1>

      <div class="flex-spacer"></div>

      <ul id="header-brands" class="header-brands-init">
        <li><a class="ms-Icon ms-Icon--AzureLogo" target="_blank" href="https://azure.com" aria-hidden="true"></a></li>
        <li><a class="ms-Icon ms-Icon--BingLogo" target="_blank" href="https://bing.com" aria-hidden="true"></a></li>
        <li><a class="ms-Icon ms-Icon--MSNLogo" target="_blank" href="https://msn.com" aria-hidden="true"></a></li>
        <li><a class="ms-Icon ms-Icon--OfficeLogo" target="_blank" href="https://office.com" aria-hidden="true"></a>
        </li>
        <li><a class="ms-Icon ms-Icon--OneDrive" target="_blank" href="https://onedrive.com" aria-hidden="true"></a>
        </li>
        <li><a class="ms-Icon ms-Icon--SkypeLogo" target="_blank" href="https://skype.com" aria-hidden="true"></a></li>
        <li><a class="ms-Icon ms-Icon--StoreLogo16" target="_blank" href="https://store.microsoft.com"
               aria-hidden="true"></a>
        </li>
        <li><a class="ms-Icon ms-Icon--WindowsLogo" target="_blank" href="https://windows.com" aria-hidden="true"></a>
        </li>
      </ul>
    </header>

    <div id="content">
      <main id="jobs">
        <h1 class="section-heading"><em>{{resultsCount}} matches</em></h1>
        {{#each jobs}}
          <article class="job ms-bgColor-neutralLighterAlt">
            <div class="job-left">
              <div class="job-head">
                <h1 class="job-title"><a class="job-title-link" href="{{URL}}" target="_blank">{{title}}</a></h1>
                <h2 class="job-location">{{location}}</h2>
              </div>
              <p class="job-description">{{description}}&hellip;</p>
            </div>
            <div class="job-right">
              <time class="job-date" datetime="{{date}}">{{humanDate}}</time>
            </div>
          </article>
        {{/each}}
      </main>

      <aside id="pane">
        <h1 class="section-heading"><em>Filter</em></h1>
        <form id="filter" method="get">
          <h2 class="section-heading"><em>Posted after</em></h2>

          <div class="filter-after">
            <label>
              <span>Year</span>
              <input class="ipt-text filter-after-date-input" name="after_year" type="number" min="0" max="99999"
                     step="1" placeholder="Year" value="{{afterYear}}">
            </label>
            <label>
              <span>Month</span>
              <input class="ipt-text filter-after-date-input" name="after_month" type="number" min="1" max="12" step="1"
                     placeholder="Month" value="{{afterMonth}}">
            </label>
            <label>
              <span>Day</span>
              <input class="ipt-text filter-after-date-input" name="after_day" type="number" min="1" max="31" step="1"
                     placeholder="Day" value="{{afterDay}}">
            </label>
          </div>

          <h2 class="section-heading"><em>Search terms</em></h2>

          <ul id="search-terms">
            {{#each rules}}
              <li class="search-term">
                <div class="search-term-head">
                  <div class="search-term-drag">&#9776;</div>
                  <h3><span>Filter by </span><select name="rules_field[]" data-value="{{field}}">
                    {{#each ../FIELDS}}
                      <option>{{this}}</option>
                    {{/each}}</select></h3>
                  <div class="flex-spacer"></div>
                  <button type="button" class="toggle" data-name="rules_enabled[]" data-checked="{{enabled}}"></button>
                </div>
                <div class="search-term-body">
                  <select class="search-term-mode" name="rules_mode[]" data-value="{{mode}}">
                    <option value="require">Require</option>
                    <option value="contain">Any of</option>
                    <option value="exclude">Exclude</option>
                  </select>
                  <input class="ipt-text search-term-words" name="rules_words[]" value="{{words}}"
                         placeholder="Enter space-separated words">
                </div>
                <div class="search-term-buttons">
                  <button class="btn search-term-button" type="button" value="delete">Delete</button>
                </div>
              </li>
            {{/each}}
          </ul>

          <template id="template-search-term">
            <li class="search-term">
              <div class="search-term-head">
                <div class="search-term-drag">&#9776;</div>
                <h3><span>Filter by </span><select name="rules_field[]">
                  {{#each FIELDS}}
                    <option>{{this}}</option>
                  {{/each}}</select></h3>
                <div class="flex-spacer"></div>
                <button type="button" class="toggle" data-name="rules_enabled[]" data-checked="true"></button>
              </div>
              <div class="search-term-body">
                <select class="search-term-mode" name="rules_mode[]">
                  <option value="require" selected>Require</option>
                  <option value="contain">Any of</option>
                  <option value="exclude">Exclude</option>
                </select>
                <input class="ipt-text search-term-words" name="rules_words[]"
                       placeholder="Enter space-separated words">
              </div>
              <div class="search-term-buttons">
                <button class="btn search-term-button" type="button" value="delete">Delete</button>
              </div>
            </li>
          </template>

          <div id="filter-buttons">
            <button class="btn" type="button" id="search-terms-add-button">Add rule</button>
            <button class="btn btn-teal">Search</button>
          </div>

          <p class="msg msg-info">
            Want to save or share your search? It's all in the URL.
          </p>
        </form>
      </aside>
    </div>
  </body>
</html>
